<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/weather.png">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  {{>header}}
  {{>footer}}
  {{>search}}
  <p id="result"></p>
  <script src="/js/app.js" type="text/javascript"></script>
</body>

</html>